body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
    max-width: 850px;
    margin: auto;
    background: rgb(153, 118, 118);
}
form {
    display: flex;
    justify-content: space-around;
}
input {
    border-radius: 25px;
    border: 0;
    padding: 12px;
}
input:focus {
    outline: none;
}

ul#playlist li {
    background:grey;
    padding: 12px;
    color:white;
    border-radius: 25px;
    margin: 2px;
}
#playlist {
    margin-top: 10px;
padding: 0 px;
list-style-type: none;
}

#songTextInput {
    border: 3px solid gray;
}
#addButton {
    background: lightcoral;
    cursor: pointer;
}
#deleteFirstButton, #deleteLastButton {
    background: lightgreen;
    cursor: pointer;
}
#deleteFirstButton:hover, #deleteLastButton:hover, #addButton:hover{
    opacity: 0.8;
}